<div class="card">
  <i class="bi bi-heart product-like"></i>
  <img src="https://images.unsplash.com/photo-1688578735352-9a6f2ac3b70a" class="card-img-top" alt="Product Image">
  <div class="card-body">
    <p class="card-text text-primary text-truncate mb-1">{{currentProduct.name}}</p>
    <div class="d-flex align-items-center justify-content-between">
      <h5>₹{{currentProduct.price}}</h5>
      <p class="mb-0"><i class="bi bi-star-fill"></i> {{currentProduct.rating}}</p>
    </div>
  </div>
</div>
